@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

body {
  font-family: 'Prompt';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 100vh;
  min-height: 100vh;
  overflow-x: hidden;
}
