@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

*{
    font-family: 'Prompt', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button{
  background-color: darkcyan;
  color: white;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
}
a{
  text-decoration: none;
  color: black;
}
li{
  list-style-type: none;
}
main{
  min-height: 90vh;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}