header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: auto;
    padding: 1rem 3rem;
    height: 70px;
    border-bottom: 1px solid #eee;
    font-size: 18px;
    font-weight: bold;
}
.amount{
    padding: .35rem .75rem;
    border-radius: 50%;
    color: white;
    background: darksalmon;
}